<table class="table table-bordered table-striped">
<% branches.each do |branch| %>
  <tr>
    <td><%= repo_link_to repo, branch.name, :page => :commits, :commit => branch.name %></td>
    <td><%= repo_link_to repo, "Browse files", :page => :tree, :commit => branch.name  %></td>
</tr>
<% end %>
</table>
