<html>
<head>
<title>Git.log</title>
<link rel="stylesheet" href="/stylesheets/screen.css">
<link rel="stylesheet" href="/stylesheets/syntax.css">
</head>
<body>
  <nav>
  <a href="/branches">Show Branches</a> | <a href="/tree/master">Browse source</a> | <a href="/commits/master">View Commits</a>
  </nav>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
