<html>
<head>
<title>Git.log</title>
<link rel="stylesheet" href="/stylesheets/screen.css">
<link rel="stylesheet" href="/stylesheets/syntax.css">
</head>
<body>
  <nav>
    <a href="/branches">Branches</a> | <a href="/tree/master">Master tree</a>
  </nav>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
