body {
  padding-top: 60px;
}

header h1 {
  padding-top: 20px;
}

footer {
  text-align: center;
  color: #999;
}

footer a {
  color: #999;
}

h1 {
  margin-bottom: 20px;
}

.light {
  color: #999;
}

.subnav {
  padding-top: 20px;
}

table.table tr td.commit-date {
  font-weight: bold;
  background-color: #d9edf7;
  color: #3a87ad;
}

table.tree tbody {
  font-size: 0.8em;
}

small {
  font-size: 0.8em;
  color: #444;
}

.commits span.date {
  color: #aaa;
}

.commits span.author-name,
.commits span.committer-name {
  color: #333;
}

.commits small.committer {
  padding-left: 0.5em;
}

.commits span.message pre {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.commits span.message {
  display: none;
}

.commits span.message-short {
  display: block;
  font-weight: bold;
}

.commits span.message-short a { 
  color: rgb(51, 51, 51);
}

.highlight {
  overflow: auto;
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.highlight pre {
  padding-top: 1em;
  padding-bottom: 1em;
}

.diff {
  margin-top: 1em;
}

.diff .header {
  font-weight: bold;
  padding: 0.5em;
  background-color: #ccc;
}

.code-viewer.chunk {
}

.code-viewer .code-lines {
  float: left;
  min-width: 1em;
  text-align: right;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #eee;
  border-right: 1px solid #bbb;
  color: #bbb;
}

.code-viewer .code-list span {
  padding-left: 3px;
  display: inline-block;
}

.code-viewer .code-list span:hover {
  background-color: #FFF6B9;
}

.code-viewer pre {
  display: block;
  white-space: pre;
  border: 0;
  background-color: transparent;
  border-radius: 0;
}

