* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  font-family: "Helvetica Neue";
}

h1 {
  margin-bottom: 0.5em;
}

.slim {
  font-weight: normal;
}

.light {
  color: #666;
}

#wrapper {
  padding: 1em;
}

nav {
  background-color: black;
  color: #eee;
  padding: 4px 5px;
  text-align: right;
}

nav a {
  color: #eee;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
}

.highlight {
  overflow: auto;
}

.commits .date_separator td {
  color: #aaa;
  padding: 1.5em 0 0.5em 0;
}

div.diff {
  margin-bottom: 1em;
}

.commit .info {
  font-size: 10px;
  color: #aaa;
}

.code-viewer .code-lines {
  float: left;
  padding-right: 0.5em;
  background-color: #ddd;
  border-right: 1px solid #bbb;
}
